@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growWidth-1 {
  from {
    width: 0;
  }
  to {
    width: 7.14%;
  }
}

@keyframes growWidth-2 {
  from {
    width: 0;
  }
  to {
    width: 73.8%;
  }
}

@keyframes growWidth-3 {
  from {
    width: 0;
  }
  to {
    width: 16.67%;
  }
}

@keyframes growWidth-4{
  from {
    width: 0;
  }
  to {
    width: 2.38%;
  }
}


.animate-fade-in {
  animation: fadeIn 1s ease-out;
}

.animate-grow-width-1 {
  animation: growWidth-1 1.5s ease-out forwards;
}
.animate-grow-width-2 {
  animation: growWidth-2 1.5s ease-out forwards;
}
.animate-grow-width-3 {
  animation: growWidth-3 1.5s ease-out forwards;
}
.animate-grow-width-4 {
  animation: growWidth-4 1.5s ease-out forwards;
}

.title-text {

  background: linear-gradient(
    90deg, 
    #FFD700 0%, 
    #FFD700 40%,  
    #fffacd 50%, 
    #FFD700 60%,  
    #FFD700 100%
);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 3s ease infinite;
  font-size: 3.5em;
}

@keyframes move {
  0% { background-position: -100% 0%; }
  100% { background-position: 100% 0%; }
}

